---
layout: default
---
<div class="main-wrapper">
	<div class="main 1p-height">
		<div class="main-msg">
			<h1>Hi, I'm <b>Vincent.</b></h1>
			<h3>I study <strong>CompSci</strong> and <strong>CogSci</strong> at <strong>UCSD</strong>, graduating <strong>2018</strong>.</h3>
			<h3>My interests lie in designing and crafting usable and aesthetic products through <strong>UX design</strong> and <strong>development</strong>. Need more info? Check out my <a target="_blank" href="/public/files/vincent_liaw_resume.pdf"><strong>Resume</strong></a>.<h3>
		</div>
		<div class="intro-links">
			<p>Github: @<a target="_blank" href="https://github.com/liawesomesaucer"><strong>liawesomesaucer</strong></a></p>
			<p>Linkedin: <a target="_blank" href="https://linkedin.com/in/vincentliaw"><strong>vincentliaw</strong></a></p>
			<p>Email: <a target="_blank" href="mailto:vincentcliaw@gmail.com"><strong>vincentcliaw@gmail.com</strong></a></p>
		</div>
		<div class="main-msg">
			<h3>I'm currently looking for full time positions! Feel free to <a href="mailto:vincentcliaw@gmail.com"><strong>reach out</strong></a>.</h3>
		</div>
	</div>
</div>

<div class="pages-wrapper">
  <!--  List of sites -->
	<div class="page-content-wrapper" id="work">
		<div class="page">
			<div class="page-projects">
				<h2 class="page-header">Work</h2>

				<div class="project-list">
					<ul class="projects inner-ul inline-list">
						{% assign projects = site.projects | sort: 'date' %}
						{% for project in projects reversed %}
							<li class="tile">
								<div class="grid tiled">
									<a href="{{ project.url }}">
										<div class="img_wrapper" style="background-color:{{ project.backgroundcolor }}">
											<div class="img_inner" style="background: url(/public/images/{{ project.tile_image }}) no-repeat center 0; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;"></div>
										</div>
									</a>	
									<div class="tile-text">
										<a href="{{ project.link }}" target="_blank">
											<h2 class="tile-header" style="color:{{ project.backgroundcolor }};"><span>{{ project.title }}</span><i class="fa fa-external-link"></i></h2>
										</a>
										<p class="tile-description">{{ project.excerpt }}</p>
										<ul class="tile-tags">
											{% for tag in project.tags %}
												<li>{{ tag }}</li>
											{% endfor %}
										</ul>
										{% if project.github %}
											<a class="tile-text-right" target="_blank" href="{{ project.github }}">
												<i class="fa fa-github-square"></i><br>
												<p>Code</p>
											</a>
										{% endif %}
									</div>
								</div>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
